html {
    overflow: hidden !important;
    height: 100%;
    /* background: linear-gradient(orange, darkorange, red) !important; */
    background-color: rgb(0, 125, 125, .8);
}

body {
    height: 100%;
    background-color: transparent !important;
    overflow: hidden !important;
}

.title {
    font-size: 6em;
}

.subtitle {
    font-size: 3em;
}

.subsubtitle {
    font-size: 2em;
}

.text {
    font-size: 1em;
}

.italic {
    font-style: oblique;
}

.columns {
    height: 97vh;
    margin: 1vh;
    /* background-color: red; */
    margin: 0 !important;
    padding: 0 !important;
}

.column {
    display: inline-block;
    position: relative;
}

.nav {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 15%;
    margin: 0 !important;
}

.main {
    background-color: rgba(255, 255, 255, 0.7);
    height: 95%;
    width: 84%;
    margin: 1% !important;
    border-radius: .6em ;
    text-align: center;
}

.txtBx {
    margin-top: 10em;
}

#nav:hover {
    /* width: 0 !important; */
    transition: .4 ease !important;
    opacity: 1 !important;
    width: 15% !important;
}

#nav {
    opacity: 0;
    transition: .4s ease-out;
    width: 0 !important;
}

#second {
    opacity: 0;
    transition: .2s ease-in-out;
    width: 0;
    height: 100%;
    background-color: antiquewhite;
}

#second.ok {
    opacity: 1;
    transition: .3s ease-in-out;
    width: 30%;
}